@import "tailwindcss";

@layer utilities {
  .animate-kenburns {
    animation: kenburns 30s ease-in-out infinite alternate;
  }
}

@keyframes kenburns {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}